<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Chat Room</title>
</head>

<body>
  <textarea id="chat-log" cols="100" rows="20"></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">
  <script type="text/javascript" src="{% static 'js/md5.js'%}"> </script>
  <script>
    const roomName = '{{room_name}}'
    var ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://"
    console.log(md5(roomName));
    const chatSocket = new WebSocket(
      ws_scheme +
      window.location.host +
      '/ws/chat/' +
      roomName +
      '/'
    );

    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
      console.error('Chat socket 1 closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13) { // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'file_type': 'text',
        'message': message
      }));
      messageInputDom.value = '';
    };

    // const chatSocket_2 = new WebSocket(
    //   ws_scheme +
    //   window.location.host +
    //   '/ws/' +
    //   'home' +
    //   '/'
    // );
    //
    // chatSocket_2.onmessage = function(e) {
    //   const data = JSON.parse(e.data);
    //   alert(data.message);
    // };
    //
    // chatSocket_2.onclose = function(e) {
    //   console.error('Chat socket 2 closed unexpectedly');
    // };
  </script>
</body>

</html>