{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <link rel="icon" href="{% static 'images/favicon.ico' %}" />


</head>

<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <div class="app-title">
        Register </div>
      <div class="sidebar-header-icons">
      </div>
    </div>
    <div class="sign_up">
      <div class="signup-type-message-bar">
        <div class="signup-type-message-bar-center">
          <form action="{% url 'accounts:signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input style="margin-bottom: 2rem;" type="text" name="country" placeholder="Select Country" />
            <input style="margin-bottom: 2rem;" type="text" name="phonenumber" placeholder="Enter your phone number" />
            <input style="margin-bottom: 2rem;" type="text" name="username" placeholder="Enter username" />
            <input style="margin-bottom: 2rem;" type="file" name="cover_image" accept="image/*" />
            <button style="margin-bottom: 2rem;" class="sign_up_button"> Register</button>
          </form>
          <!-- <button type="button" name="button"></button> -->
          <a style="width: 4rem;" href="{% url 'accounts:login' %}" class="sign_up_button">Login</a>

        </div>
      </div>
    </div>
  </div>
  <div class="" id="snackbar">

  </div>
</body>
<script type="text/javascript">
  '{% if messages %}'
  '{% for message in messages %}'
  var x = document.getElementById("snackbar");
  x.innerHTML = '{{message}}'
  x.className = "show";
  setTimeout(function() {
    x.className = x.className.replace("show", "")
  }, 3000);

  '{% endfor %}'
  '{% endif %}'
</script>

</html>